<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multi Path Stories</title>
    <link rel="stylesheet" href="../static/index.css"/>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
</head>
<body>
<div id="container">
    <h5 id="home">
        <a href="/">
            <div style="display: flex; flex-direction: column">
                <span><i class="fa fa-fw fa-lg fa-home"></i></span>
                <span>Back To Start</span>
            </div>
        </a>
    </h5>
    <table class="table table-bordered">
        <tr>
            <td></td>
            <td>
                {% if path1 %}
                    <a href="/story/{{ path1 }}">{{ path1_sentence }}</a>
                {% else %}
                    <form action="/create_story" method="POST">
                        <input type="hidden" name="path" value="1">
                        <input type ="hidden" name="current_story_id" value="{{ current_story_id }}">
                        <input required id="path1" name="sentence" class="form-control" type="text" placeholder="Enter Path 1 Story">
                        <input type="submit" class="btn btn-outline-primary">
                    </form>
                {% endif %}
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                {% if path4 %}
                    <a href="/story/{{ path4 }}">{{ path4_sentence }}</a>
                {% else %}
                    <form action="/create_story" method="POST">
                        <input type="hidden" name="path" value="4">
                        <input type ="hidden" name="current_story_id" value="{{ current_story_id }}">
                        <input required id="path4" name="sentence" class="form-control" type="text" placeholder="Enter Path 4 Story">
                        <input type="submit" class="btn btn-outline-primary">
                    </form>
                {% endif %}
            </td>
            <td style="vertical-align: middle"><h5 id="story">{{ story.sentence }}</h5></td>
            <td>
                {% if path2 %}
                    <a href="/story/{{ path2 }}">{{ path2_sentence }}</a>
                {% else %}
                    <form action="/create_story" method="POST">
                        <input type="hidden" name="path" value="2">
                        <input type ="hidden" name="current_story_id" value="{{ current_story_id }}">
                        <input required id="path2" name="sentence" class="form-control" type="text" placeholder="Enter Path 2 Story">
                        <input type="submit" class="btn btn-outline-primary">
                    </form>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% if path3 %}
                    <a href="/story/{{ path3 }}">{{ path3_sentence }}</a>
                {% else %}
                    <form action="/create_story" method="POST">
                        <input type="hidden" name="path" value="3">
                        <input type ="hidden" name="current_story_id" value="{{ current_story_id }}">
                        <input required id="path3" name="sentence" class="form-control" type="text" placeholder="Enter Path 3 Story">
                        <input type="submit" class="btn btn-outline-primary">
                    </form>
                {% endif %}
            </td>
            <td></td>
        </tr>
    </table>
</div>
</body>
</html>